{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}IDP{% endblock %}</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    {% comment %}
    {% include "website/components/navbar.html" %}
    {% endcomment %}

    <div>
      {% block content %} 
      {% endblock %}
    </div>
    
    {% comment %}
    {% include "website/components/footer.html" %}
    {% endcomment %}
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
